[Desktop Entry]
Categories=Qt;X-Liri;Utility;X-Liri-Utilities;
Comment=Save images of your screen or individual windows
Comment[ca]=Deseu imatges de la pantalla o de finestres individuals
Comment[da]=Gem billeder af din skærm eller individuelle vinduer
Comment[de]=Mache Aufnahmen deines Bildschirms oder einzelner Fenster
Comment[el]=Αποθήκευση εικόνων της οθόνης ή ατομικών παραθύρων
Comment[es]=Guarde capturas de pantalla o de ventanas individuales
Comment[es_419]=Guardar imágenes de su pantalla o ventanas individuales
Comment[es_MX]=Guardar imágenes de su pantalla o ventanas individuales
Comment[fr]=Enregistrer les images de votre écran ou de fenêtres individuelles
Comment[id]=Simpan tampilan layar Anda maupun jendela individual menjadi gambar
Comment[it]=Salva immagini dello schermo o di singole finestre
Comment[ja]=画面やウィンドウの画像を取得
Comment[lt]=Įrašyti jūsų ekrano ar atskirų langų paveikslus
Comment[nl]=Afbeeldingen van je scherm of afzonderlijke vensters opslaan
Comment[pl]=Zapisz zrzuty swojego ekranu lub pojedynczych okien
Comment[pt_BR]=Salvar imagens da sua tela ou de janelas individuais
Comment[pt_PT]=Guarde imagens do seu ecrã ou janelas individuais
Comment[ru]=Cохраняйте снимки экрана или отдельных окон
Comment[tr]=Tekil pencerelerinizin veya ekranınızın resimlerini kaydedin
Comment[zh_CN]=截取屏幕或独立窗口
Comment[zh_TW]=儲存螢幕截圖或個別的視窗
Encoding=UTF-8
Exec=liri-screenshot --interactive
Icon=applets-screenshooter
Keywords=snapshot;capture;print;screenshot;
Name=Screenshot
Name[ca]=Captura de pantalla
Name[da]=Skærmbillede
Name[de]=Bildschirmfoto
Name[es]=Captura de pantalla
Name[es_419]=Captura de pantalla
Name[es_MX]=Captura de pantalla
Name[fr]=Capture d'Écran
Name[id]=Tangkapan layar
Name[it]=Schermata
Name[ja]=スクリーンショット
Name[lt]=Ekrano kopija
Name[nl]=Schermafdruk
Name[pl]=Zrzut ekranu
Name[pt_BR]=Captura de tela
Name[pt_PT]=Captura de ecrã
Name[ru]=Снимок экрана
Name[tr]=Ekran Görüntüsü
Name[zh_CN]=截屏
Name[zh_TW]=螢幕截圖
OnlyShowIn=X-Liri;
StartupNotify=true
Terminal=false
TryExec=liri-screenshot
Type=Application
