[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Screenshot
Name[da]=Skærmbillede
Name[lt]=Ekrano kopija
Name[pt_BR]=Captura de tela
Name[ru_RU]=Скриншот
Name[tr]=Ekran Görüntüsü
Name[zh_CN]=截图
Comment=Save images of your screen or individual windows
Comment[da]=Gem billeder af din skærm eller individuelle vinduer
Comment[lt]=Įrašyti jūsų ekrano ar atskirų langų paveikslus
Comment[pt_BR]=Salvar imagens da sua tela ou de janelas individuais
Comment[tr]=Ekranınızın veya tekil pencerelerinizin görüntülerini kaydeder
Comment[zh_CN]=截取整个屏幕或单个窗口
Keywords=snapshot;capture;print;screenshot;
Keywords[da]=optag;skærmbillede;
Keywords[lt]=momentinė kopija;fotografuoti;spausdinti;ekrano kopija;
Keywords[pt_BR]=snapshot;captura;print;captura de tela;
Keywords[tr]=ekrangörüntüsü;yakala;yazdır;anındagörüntü;anlıkgörüntü;
Categories=Qt;X-Liri;Utility;X-Liri-Utilities;
Icon=applets-screenshooter
Exec=liri-screenshot --interactive
TryExec=liri-screenshot
Terminal=false
StartupNotify=true
OnlyShowIn=X-Liri;
